@import 'animations.less';

@vivid-cerulean: #00AAFF;
@light-red-ochre: #F97352;
@deep-space-sparkle: #335C67;
@peach: #FFF3B0;
@tigers-eye: #E09F3E;


.input-form{
	fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
	}
	.addfields{
		margin: 10px 0;
	}

	#choicesDisplay {
		padding: 10px;
		background: rgb(227, 250, 227);
		border: 1px solid rgb(171, 239, 171);
		color: rgb(9, 56, 9);
	}
	.remove{
		background: #C76868;
		color: #FFF;
		font-weight: bold;
		font-size: 21px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		padding: 4px 9px;
		vertical-align: top;
		line-height: 100%;   
	}
	input[type="text"],
	select{
		padding:5px;
	}
}

h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 70px;
	line-height: 100px;
}
 
p {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 25px;
}

.card-container{
	display: flex;
	width: 100%;
}

.card{
	width: 200px;
	height: 200px;
	border: 1px solid black;
	background-color: @peach;
	margin:20px
}


.card.ng-leave.ng-leave-active,
.card.ng-move,
.card.ng-enter {
  opacity:0;
}

.card.ng-leave,
.card.ng-move.ng-move-active,
.card.ng-enter.ng-enter-active {
  opacity:1;
}

body.default { 
    background-color: @deep-space-sparkle;
}

.body {
	margin-top: 100px;
	width:60vw;
	margin-left: 20vw;
	margin-right: 20vw;
}

.jumbotron{
	width: 100%;
}

.header-section{
	background: url(./images/tweed.png) repeat 0 0;
}

.color-white{
	color: @peach !important;
}

.game-list-container{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	padding: 20px;
	.game-tile{
		width: 25%;
		height: 100px;
	}
}
