.card-container{
    display: flex;
    flex-wrap: wrap;
	width: 100%;
}
.card-container-container{
    width: calc(~'33% - 20px');
    margin-right: 20px;
}
.card{
	width: 100%;
	height: 100px;
	border: 1px solid black;
	background-color: @peach;
	margin:20px
}

.card.ng-leave.ng-leave-active,
.card.ng-move,
.card.ng-enter {
  opacity:0;
}

.card.ng-leave,
.card.ng-move.ng-move-active,
.card.ng-enter.ng-enter-active {
  opacity:1;
}

.card {  
  //@include dimensions( 500px,  100px);
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    width: 190px;
    height: 300px;
    background: @light-red-ochre;
		z-index: -5;
    
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.040, 0.470, 1.105) 1s both;
  }
}
.badgescard {
	.card;
	.outside-animate;
	height: 75px;
	top:35px;
	padding: 10px 20px;
	border-radius: 3px;
	background-color: #ECECEC;	
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);	
	position: absolute;
  width: 250px;
  left: 20px;
	z-index: -1; 
	bottom: 0px;
	//@extend %flex; 
	span {
		font-size: 1.6em;
		margin: 0px 6px;
		opacity: 0.6;
	}
	&:after {
    background: #ECECEC;
	}
	img{
		    height: 25px;
    margin-top: 35px;
	}
}   

.firstinfo {
  //@extend %flex;
  flex-direction: row;  
  z-index:2;
  position: relative;
  img{ 
    border-radius: 50%;
    width: 75px;
		height: 75px;
		    margin-top: 12px;
    margin-left: 20px;
  }

    padding: 0px 20px;
    h1{ 
			float: right;
			font: impact;
		}
    h3{ font-size: 1.2em;
        color: @peach;
        font-style: italic;
    }
    p{
      padding: 10px 0px;
      color: #5A5A5A;
      line-height: 1.2;
      font-style: initial;
    }  
  
}
.sub-card-container{
	position: relative;
}

.outside-animate {
	animation: animainfos 0.5s cubic-bezier(0.425, 1.040, 0.470, 1.105) 0.75s forwards;
}
 
 .profileinfo{
	 top:20px;
	     margin-top: 26px;
 }
 
 
