
.filter-controls-container{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    justify-content: space-between;
    .filter-control{
        width: 48%;
        display: inline-block;

    }
    tags-input.filter-control .tags {
        border-radius: 4px;
    }
    tags-input .tags .tag-item {
        background: -webkit-linear-gradient(top, rgb(255, 223, 216) 0%, rgb(255, 183, 167) 47%, #F97352 100%);
        background: linear-gradient(to bottom, rgb(255, 223, 216) 0%, rgb(255, 183, 167) 47%, #F97352 100%);
    }
}
