
.filter-controls-container{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    .filter-control{
        width: 50%;
        display: inline-block;
    }
}
