.game-list-container{
    width: 100%;
	height: 100%;
	padding: 20px;
	.game-tile{
		width: 25%;
		height: 100px;
    }
    md-grid-tile {
        transition: all 400ms ease-out 50ms;
        background-position: center; 
        background-size: cover;
        background-repeat: no-repeat;
        .header-details{
            height: calc(~'100% - 48px');
            
        }
        font-weight: 600;
    }
   md-grid-tile-header, md-grid-tile-footer{
    .item-group{
        margin: 0 16px 0 16px;
    }
    background: rgba(0, 0, 0, 0.85);
   }
}