<div class="filter-controls-container">
    <tags-input tag-class="user-tag" add-from-autocomplete-only="true" class="filter-control" ng-model="selectedTags"  placeholder="Add a user-defined tag" replace-spaces-with-dashes="false">
            <auto-complete source="tags"
                        min-length="0"
                        load-on-focus="true"
                        load-on-empty="true"
                        max-results-to-show="10"
                        highlight-matched-text="true"
                        ></auto-complete>
    </tags-input>

    <tags-input tag-class="genre-tag" add-from-autocomplete-only="true" class="filter-control" ng-model="selectedGenres" placeholder="Add a genre" replace-spaces-with-dashes="false">
            <auto-complete source="genres"
                        min-length="0"
                        load-on-focus="true"
                        load-on-empty="true"
                        max-results-to-show="10"
                        highlight-matched-text="true"
                        ></auto-complete>
    </tags-input>
</div>
